# commands run before setup
# add EPEL release package repo to yum for installing certbot dependencies
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/configure_certbot.sh":
    mode: "000755"
    owner: root
    group: root
    content: |  
      #!/bin/bash -e
      # installs certbot-auto
      # then reuns monthly cert renewal as cron jobs

      # set these variables for certobot
      ENV_NAME=goapp-test-testing
      REGION=us-west-2

      # cert domain gets the public ip of the instance
      CERT_DOMAIN=${ENV_NAME}.${REGION}.elasticbeanstalk.com
      CERT_EMAIL=jake.vancampen@grayletechnologies.com
 
      # nstall certbot-auto
      wget https://dl.eff.org/certbot-auto 
      sudo mv certbot-auto /usr/local/bin/certbot-auto
      sudo chown root /usr/local/bin/certbot-auto
      sudo chmod 0755 /usr/local/bin/certbot-auto

      # run certbot process
      # creates an ACME challenge in the webroot directory
      # verifies the challenge with an http (80) request
      # installs the certificate in /etc/letsencrypt/live/<DOMAIN_NAME>
      # --debug: required by AWS Linux AMI to install certbot deps
      # --redirect: creates nginx port :80 -> :443 redirect rule on success
      # --agree-tos: agrees to TOS without prompting
      # -n: run without user interaction
      # -d: set domain for certificate
      # -m: set email for ACME account registration
      # -i: select nginx as the installer plugin to update the conf file on success
      # -a: select webroot as the authenticator plugin to use the ACME challenge
      # -w: set the webroot path for serving the ACME challenge
      certbot-auto run --debug --redirect --agree-tos -n -d ${CERT_DOMAIN} -m ${CERT_EMAIL} -i nginx -a webroot -w /usr/share/nginx/html

      # reload nginx
      sudo service nginx reload 

      # setup cert renewal as cron job
      # The newline at the end of this file is extremely important.  Cron won't run without it.
      renew="0 3 1 * * root certbot-auto renew --standalone --pre-hook "sudo service nginx stop" --post-hook "sudo service nginx start" --force-renew"
      echo ${renew} > /etc/cron.d/certificate_renew && chmod 644 /etc/cron.d/certificate_renew

      # start nginx
      sudo service nginx start

packages:
    yum:
        epel-release: [] # latest version